@import 'styles';

.ProductList {
    display: none;

    @include screen-width(md) {
        @include flex;
        @include gap(all md);
        @include padding(y md);
    }

    & > h1 {
        @include font-size(2xl);
        @include font-weight(lg);
    }

    & > span {
        @include bg-color(400, primary);
        @include flex(row, center, flex-end);
        @include font-color(100);
        @include font-size(sm);
        @include rounded(all xs);
        margin-right: auto;
    }

    .Filter {
        @include margin(bottom xs);
    }

    .Titles {
        @include flex;
        flex-grow: 1;
        overflow: hidden;
    }

    .List {
        & > thead,
        & > tbody {
            & > tr {
                & > th,
                & > td {
                    & > span {
                        flex-grow: 1;
                    }

                    & > a {
                        margin: 0 auto;
                        overflow: hidden;
                    }

                    & > img {
                        @include height(lg, element);
                        @include rounded(all xs);
                        @include width(lg, element);
                        margin: auto;
                        object-fit: cover;
                        overflow: hidden;
                    }
                }
            }
        }

        & > thead {
            @include bg-color(400, primary);
            @include font-color(100);
            @include font-weight(lg);
            @include padding(x xs);
            @include rounded(all xs);

            & > tr {
                @include gap(all xs);
                @include padding(y xs);
            }
        }

        & > tbody > tr {
            @include gap(all xs);
            @include padding(all xs);
            @include shadow(bottom xs);

            &:last-child {
                @include margin(bottom xs);
            }
        }
    }
}
