@import 'styles';

.TenantList {
    display: none;

    @include screen-width(lg) {
        @include flex;
        @include gap(all md);
        @include padding(y md);
    }

    & > h1 {
        @include font-size(2xl);
        @include font-weight(lg);
    }

    .Filter {
        @include margin(bottom xs);
    }

    .Container {
        @include gap(all md);
    }

    .List {
        @include flex;
        flex-grow: 1;
        overflow: hidden;
    }

    .Route {
        @include flex;
        @include max-width(2xl, component);
        flex-grow: 1;
        overflow: hidden;
        width: 100%;
    }
}
