@import 'styles';

.Setting {
    @include flex(row, flex-start);
    @include gap(all sm);
    @include padding(x xs split);
    flex-wrap: wrap;

    .Title {
        @include font-weight(lg);
        width: 100%;
    }

    .TypeOrder {
        @include flex(row, center);
        @include gap(all xs split);

        & > i {
            @include font-size(lg);
        }

        .Active {
            @include font-color(400, success);
        }

        .Inactive {
            @include font-color(400, danger);
        }
    }

    .TypeCharge {
        @include flex;
        @include gap(all xs);

        &Disabled {
            display: none;
        }
    }
}
