@import 'styles';

.ListItem {
    @include flex;
    @include gap(all sm);
    flex-grow: 1;

    & > img {
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }

    .Title {
        @include font-weight(lg);
    }

    & > h2 {
        @include font-color(400, primary);
        @include font-size(xl);
        @include font-weight(lg);
        @include margin(x xs);
        letter-spacing: 0.1em;
        overflow: hidden;
        text-transform: uppercase;
    }

    & > span:last-of-type {
        @include margin(bottom xs);
    }
}
