@import 'styles';

.ListItem {
    @include flex;
    @include gap(all sm);
    @include padding(all sm);
    flex-grow: 1;

    .Title {
        @include font-weight(lg);
    }

    .Header {
        @include flex;

        & > h2 {
            @include font-size(lg);
            @include font-weight(lg);
            overflow: hidden;
        }

        & > span {
            @include bg-opacity(10);
            @include font-size(sm);
            @include padding(all sm split);
            @include rounded(all md);
        }

        .Online {
            @include bg-color(400, success);
            @include font-color(600, success);
        }

        .Offline {
            @include bg-color(400, danger);
            @include font-color(600, danger);
        }
    }

    & > span:last-of-type {
        @include padding(x xs);
        text-align: justify;
        transform: scale(0.95);
    }
}
