@import 'styles';

.ListItem {
    @include flex;
    @include gap(all sm);
    flex-grow: 1;

    .Title {
        @include font-weight(lg);
    }

    .Header {
        @include flex;
        @include gap(all xs);
        @include padding(x sm, top sm);

        & > h2 {
            @include font-size(lg);
            @include font-weight(lg);
            letter-spacing: 0.1em;
            overflow: hidden;
            text-transform: uppercase;
        }

        & > span {
            @include bg-opacity(20);
            @include font-size(sm);
            @include padding(all sm split);
            @include rounded(all md);
        }

        .Online {
            @include bg-color(400, success);
            @include font-color(600, success);
        }

        .Offline {
            @include bg-color(400, danger);
            @include font-color(600, danger);
        }
    }

    .Content {
        @include flex;
        @include gap(all sm);
        @include padding(x sm);
        flex-grow: 1;

        .Address {
            @include height(lg, element);
            overflow: hidden;
            text-align: justify;
        }
    }

    .Footer {
        @include bg-color(900, none);
        @include font-color(100);
        @include padding(all xs split);
    }
}
