@import 'styles';

.CommerceDetail {
    @include gap(all md);

    .Header {
        @include flex;

        @include screen-width(sm) {
            display: none;
        }
    }

    .Content {
        @include flex;
        @include gap(all md);

        @include screen-width(sm) {
            display: grid;
            grid-template-columns: size(md, component) 1fr;
        }

        @include screen-width(2xl) {
            grid-template-columns: size(md, component) 1fr size(md, component);
        }

        @include screen-width(3xl) {
            grid-template-columns: size(md, component) 1fr size(lg, component);
        }

        @include screen-width(6xl) {
            grid-template-columns: size(md, component) 1fr size(2xl, component);
        }

        .Menu {
            display: none;
            overflow: hidden;

            @include screen-width(sm) {
                @include flex;
            }
        }

        .Cart {
            display: none;

            @include screen-width(2xl) {
                @include flex;
            }
        }
    }
}
