@import 'styles';

.Delivery {
    @include flex;
    @include gap(all sm);
    overflow: hidden;

    .Content {
        @include flex;
        @include gap(all xs);

        & > h3 {
            @include font-weight(lg);
        }
    }

    & > h2 {
        @include font-weight(xl);
    }

    .Map {
        @include margin(all xs split);
        @include min-height(md, component);
        @include rounded(all xs);
        @include shadow(all xs);
        overflow: hidden;
    }
}

.Checkbox {
    flex-direction: row;
}

.CheckboxInverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
