@import 'styles';

.CreateCommerce {
    @include gap(all md);
    @include margin(y md);
    @include padding(x xs);

    & > h1 {
        @include font-size(xl);
        @include font-weight(2xl);
    }

    .Form {
        /* display: grid; */
        /* grid-template-columns: repeat(3, 1fr); */
        @include flex;
        flex-grow: 1;
        overflow: hidden;
    }

    .Content {
        @include gap(all xl);
        display: grid;
        grid-column: span 3;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include screen-width(5xl) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .Join {
        @include flex;
        @include gap(all md);
        overflow: hidden;
    }

    .Legend {
        @include font-weight(lg);
        @include margin(top lg);
        grid-column: span 3;
    }

    .Actions {
        @include border-color(top 500 bg);
        @include border-opacity(top 60);
        @include border-width(top sm);
        @include gap(all xl);
        @include padding(top md, bottom sm);
        display: grid;
        grid-column: span 3;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;

        & > div {
            @include gap(all md);
            display: grid;
            grid-column: span 3;
            grid-template-columns: repeat(2, 1fr);

            @include screen-width(lg) {
                grid-column-start: 2;
            }

            @include screen-width(5xl) {
                grid-column-start: 3;
            }

            & > button {
                overflow: hidden;
            }
        }
    }
}
