@import 'styles';

.CreateCommerce {
    @include gap(all md);
    @include margin(y md);

    .Header {
        @include flex(row, center, space-between);
        @include gap(all xs);

        & > h1 {
            @include font-size(xl);
            @include font-weight(2xl);
            overflow: hidden;
        }
    }

    .Form {
        /* display: grid; */
        /* grid-template-columns: repeat(3, 1fr); */
        @include flex;
        flex-grow: 1;
        overflow: hidden;
    }

    .Tab {
        @include gap(all md);
    }

    .TabHeader {
        @include gap(all xs);
        @include padding(bottom sm);

        @include screen-width(sm) {
            justify-content: space-around;
        }
    }

    .TabItem {
        @include border-color(bottom 400 secondary);
        @include border-opacity(bottom 0);
        @include border-width(bottom sm);
        @include font-weight(lg);
        @include padding(x xs);

        &Active {
            @include border-opacity(bottom 100);
            @include font-color(400, secondary);
        }

        & > span {
            white-space: nowrap;
        }
    }

    .Content {
        @include gap(all xl);
        display: grid;
        grid-column: span 3;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include screen-width(5xl) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .Join {
        @include gap(y md, x md);
        @include margin(x xs, bottom xs);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include screen-width(md) {
            @include gap(x lg);
        }

        @include screen-width(xl) {
            @include gap(x xl);
        }

        .JoinActions {
            @include flex(row, center, flex-end);
            @include gap(all xs);
            @include margin(top sm);

            @include screen-width(sm) {
                grid-column: span 2;
            }

            & > button {
                flex-grow: 1;

                @include screen-width(2xs) {
                    @include max-width(md, component);
                }
            }
        }
    }

    .Legend {
        @include font-weight(lg);
        @include margin(top lg);
        grid-column: span 3;
    }

    .Actions {
        @include border-color(top 500 bg);
        @include border-opacity(top 60);
        @include border-width(top sm);
        @include gap(all xl);
        @include padding(top md, bottom sm);
        display: grid;
        grid-column: span 3;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;

        & > div {
            @include gap(all md);
            display: grid;
            grid-column: span 3;
            grid-template-columns: repeat(2, 1fr);

            @include screen-width(lg) {
                grid-column-start: 2;
            }

            @include screen-width(5xl) {
                grid-column-start: 3;
            }

            & > button {
                overflow: hidden;
            }
        }
    }
}
