@import 'styles';

.UpdateAddon {
    @include bg-color(200);
    @include padding(all xs);
    @include rounded(all xs);
    @include width(2xl, component);
    max-width: 100%;

    & > form {
        @include flex;
        @include gap(all md);
    }

    .Header {
        @include flex(row, center, center);
        @include font-weight(lg);
        @include gap(all xs);
    }

    .Content {
        @include flex;
        @include gap(all md);
        @include padding(x xs split);
    }

    .TitleCollection {
        @include flex(row, center);
        @include gap(all xs);
        @include margin(top sm, bottom md);
        flex-wrap: wrap;

        & > span {
            @include bg-color(500, primary);
            @include font-color(100);
        }
    }

    .Actions {
        @include gap(all md);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > button {
            overflow: hidden;
        }
    }
}

.TitleProps {
    & > label {
        display: none;
    }

    & > span {
        @include font-weight(lg);
    }
}

.AddAction {
    @include flex(row, center);
    @include gap(all xs split);
    @include interactable;
    @include margin(x xs split);
}
