@import 'styles';

.UpdatePicture {
    @include bg-color(200);
    @include padding(all xs);
    @include rounded(all xs);
    @include width(2xl, component);
    max-width: 100%;

    & > form {
        @include flex;
        @include gap(all md);
    }

    .Header {
        @include flex(row, center, center);
        @include font-weight(lg);
        @include gap(all xs);
    }

    .Content {
        @include flex;
        @include gap(all md);
        @include padding(x xs split);
    }

    .Actions {
        @include gap(all md);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > button {
            overflow: hidden;
        }
    }
}

.Preview {
    aspect-ratio: 1 / 1;

    @include screen-width(4xs) {
        aspect-ratio: 3 / 2;
    }
}

.DraggingBorder {
    @include border-color(all 200 secondary);
    @include border-width(all sm);
    border-style: dashed;
}

.CloseImg {
    & > span {
        @include flex(row, center, space-between);
        flex-grow: 1;
        overflow: hidden;

        & > button {
            @include margin(all xs split);
            @include padding(all xs split);
        }
    }
}

.NoPhotoHint {
    @include font-color(300, danger);
}
