@import 'styles';

.FieldSet {
    @include flex;
    @include gap(all xs split);
    min-width: 100%;
    overflow: hidden;

    & > span {
        @include font-size(sm);
        @include margin(x sm split);
    }

    &.HintReserved {
        margin-bottom: calc((size(sm, font) * var(--#{$prefix}-line-md)) + size(xs, split));
    }

    &:disabled {
        @include opacity(50);
    }
}
