@import 'styles';

.UpdateAttention {
    @include bg-color(200);
    @include padding(all xs);
    @include rounded(all xs);
    @include width(2xl, component);
    max-width: 100%;

    @include screen-width(lg) {
        @include width(md, view);
    }

    & > form {
        @include flex;
        @include gap(all md);
        overflow: hidden;
    }

    .Header {
        @include flex(row, center, center);
        @include font-weight(lg);
        @include gap(all xs);
    }

    .Content {
        @include gap(x md, y md);
        @include padding(all xs);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(lg) {
            @include gap(x xl);
            grid-template-columns: repeat(2, 1fr);
        }

        .ContentHeader,
        & > div {
            @include flex;
            overflow: hidden;

            & > h3 {
                @include font-weight(lg);

                &:nth-child(n + 2) {
                    @include border-color(top 600 bg);
                    @include border-opacity(top 60);
                    @include border-width(top sm);
                    @include margin(top xl);
                    @include padding(top xs);
                    border-style: dotted;
                }
            }
        }

        .ContentHeader {
            @include gap(all xs);
            @include margin(bottom md);

            /* @include screen-width(2xs) {
                @include flex(row, center, space-between);
            } */

            /* & > h3 {
                overflow: hidden;
            } */

            & > button {
                @include margin(x xs);
            }
        }
    }

    .ServiceHours {
        @include gap(all xs);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(2xs) {
            grid-template-columns: repeat(2, 1fr);

            /* & > fieldset:nth-child(3n + 1) {
                grid-column: span 2;
            } */
        }
    }

    .PreparationTime {
        @include gap(all xs);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(2xs) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .Actions {
        @include gap(all md);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > button {
            overflow: hidden;
        }
    }
}

.Checkbox {
    flex-direction: row;

    @include screen-width(2xs) {
        grid-column: span 2;
    }

    &:nth-child(n + 2) {
        @include margin(top md);
        @include padding(top xs);
        @include shadow(top sm);
    }

    & > label {
        overflow: visible;
    }

    & > span {
        flex-grow: 1;
        overflow: hidden;

        & > span {
            flex-grow: 1;
            overflow: hidden;
        }
    }
}

.CheckboxInverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.DayActions {
    @include flex(row, center);
    @include gap(all sm);
    justify-content: space-between;

    & > label {
        overflow: hidden;
    }

    & > button {
        @include flex(row, center);
        @include gap(all xs);
        @include margin(all xs split);
    }
}
