@import 'styles';

.Attention {
    @include flex;
    @include gap(all md);
    @include margin(x xs, bottom xs);

    .Content {
        @include gap(y md, x md);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include screen-width(md) {
            @include gap(x lg);
        }

        @include screen-width(xl) {
            @include gap(x xl);
        }

        & > div {
            @include flex;

            & > h3 {
                @include font-weight(lg);

                &:nth-child(n + 2) {
                    @include margin(top md);
                }
            }
        }
    }

    & > h2 {
        @include font-weight(xl);
    }

    .ServiceHours {
        @include gap(all xs);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(2xs) {
            grid-template-columns: repeat(2, 1fr);

            & > fieldset:nth-child(3n + 1) {
                grid-column: span 2;
            }
        }
    }

    .PreparationTime {
        @include gap(all xs);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(2xs) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .Actions {
        @include flex(row, center, flex-end);
        @include gap(all xs);
        @include margin(top sm);

        & > button {
            overflow: hidden;
            width: 100%;

            @include screen-width(2xs) {
                @include max-width(md, component);
            }
        }
    }
}

.Checkbox {
    flex-direction: row;
}

.CheckboxInverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
