@import 'styles';

.Attention {
    @include flex;
    @include gap(all sm);
    overflow: hidden;

    .Content {
        @include flex;
        @include gap(all xs);

        & > h3 {
            @include font-weight(lg);

            &:nth-child(n + 2) {
                @include margin(top md);
            }
        }
    }

    & > h2 {
        @include font-weight(xl);
    }

    .ServiceHours {
        @include gap(all xs);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(2xs) {
            grid-template-columns: repeat(2, 1fr);

            & > fieldset:nth-child(3n + 1) {
                grid-column: span 2;
            }
        }
    }

    .PreparationTime {
        @include gap(all xs);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(2xs) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.Checkbox {
    flex-direction: row;
}

.CheckboxInverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
