@import 'styles';

.Attention {
    .TabHeader {
        @include gap(all md);
        @include padding(bottom sm);
        /* @include border-color(bottom 800 none);
        @include border-width(bottom sm);
        border-style: dashed; */
    }

    .TabHeaderItem {
        @include border-color(bottom 400 primary);
        @include border-opacity(bottom 0);
        @include border-width(bottom sm);
        @include font-weight(lg);
        @include interactable;
        @include padding(x xs);
        margin: 0 auto;

        &Active {
            @include border-opacity(bottom 100);
            @include font-color(400, primary);
        }

        & > span {
            white-space: nowrap;
        }
    }

    .Content {
        @include gap(all md);

        & > button {
            margin: 0 auto;
            max-width: 100%;
        }

        .ServiceHours {
            @include max-width(lg, view);
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: 0 auto;
            width: 100%;

            & > fieldset {
                @include padding(all xs);
            }

            @include screen-width(2xs) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include screen-width(md) {
                @include gap(y sm);
                grid-template-columns: repeat(3, 1fr);
            }

            .LastServiceHours {
                @include screen-width(md) {
                    @include border-color(bottom 800 none);
                    @include border-width(bottom sm);
                    @include padding(bottom lg);
                    border-style: dashed;
                }
            }

            .NotFirstOpening {
                @include margin(top md);

                @include screen-width(2xs) {
                    @include margin(top none);
                }
            }
        }
    }

    .PreparationTime {
        @include gap(all xs);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @include screen-width(2xs) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .Actions {
        @include flex(row, center, flex-end);
        @include gap(all xs);
        @include margin(top sm);

        & > button {
            overflow: hidden;
            width: 100%;

            @include screen-width(2xs) {
                @include max-width(md, component);
            }
        }
    }
}

.Checkbox {
    flex-direction: row;
    align-items: center;

    &:nth-child(n + 2) {
        @include margin(top md);
        @include shadow(top sm);
    }

    @include screen-width(2xs) {
        grid-column: span 2;
    }

    @include screen-width(md) {
        grid-column: span 1;

        &:nth-child(n) {
            @include margin(top none);
            @include shadow(right none);
        }
    }

    & > label {
        overflow: visible;
    }

    & > span {
        flex-grow: 1;
        overflow: hidden;

        & > span {
            flex-grow: 1;
            overflow: hidden;
        }
    }
}

.DayActions {
    @include flex(row, center, space-between);
    @include gap(all sm);

    & > label {
        overflow: hidden;
    }

    & > button {
        @include flex(row, center);
        @include gap(all xs);
    }
}

.Title {
    flex-direction: row;
    align-items: center;

    & > label {
        display: none;
    }

    & > span {
        @include font-weight(lg);
    }

    @include screen-width(2xs) {
        grid-column: span 2;
    }

    @include screen-width(md) {
        grid-column: span 1;
    }
}
