/* app theme */
$app-theme: (
    /* lines height */ lines:
        (
            none: 1,
            xs: 1.125,
            sm: 1.25,
            md: 1.375,
            lg: 1.5,
            xl: 1.625,
            2xl: 1.75,
        ),
    /* weights */ weights:
        (
            none: lighter,
            xs: 100,
            sm: 300,
            md: 400,
            lg: 500,
            xl: 700,
            2xl: bolder,
        ),
    /* sizes */ sizes:
        (
            text: (
                none: 0,
                xs: 12,
                sm: 14,
                md: 16,
                lg: 18,
                xl: 20,
                2xl: 22,
            ),
            border: (
                none: 0,
                xs: 0.0625,
                sm: 0.125,
                md: 0.1875,
                lg: 0.25,
                xl: 0.3125,
                2xl: 0.375,
            ),
            rounded: (
                none: 0,
                xs: 0.25,
                sm: 0.5,
                md: 0.75,
                lg: 1,
                xl: 1.25,
                2xl: 1.5,
            ),
            split: (
                none: 0,
                xs: 0.125,
                sm: 0.25,
                md: 0.5,
                lg: 0.75,
                xl: 1,
                2xl: 1.25,
            ),
            font: (
                none: 0,
                xs: 0.75,
                sm: 0.875,
                md: 1,
                lg: 1.125,
                xl: 1.25,
                2xl: 1.5,
            ),
            element: (
                none: 0,
                xs: 1.75,
                sm: 2.5,
                md: 3.25,
                lg: 4,
                xl: 4.75,
                2xl: 5.5,
            ),
            space: (
                none: 0,
                xs: 0.5,
                sm: 0.75,
                md: 1,
                lg: 1.5,
                xl: 2,
                2xl: 2.5,
            ),
            component: (
                none: 0,
                xs: 8,
                sm: 12,
                md: 16,
                lg: 20,
                xl: 24,
                2xl: 28,
            ),
            view: (
                none: 0,
                xs: 48,
                sm: 52,
                md: 56,
                lg: 64,
                xl: 72,
                2xl: 88,
            ),
        ),
    /* shadows */ shadows:
        (
            offset: (
                none: 0,
                xs: 4,
                sm: 8,
                md: 12,
                lg: 16,
                xl: 20,
                2xl: 24,
            ),
            blur: (
                none: 0,
                xs: 6,
                sm: 12,
                md: 18,
                lg: 24,
                xl: 30,
                2xl: 36,
            ),
            spread: (
                none: 0,
                xs: -2,
                sm: -4,
                md: -6,
                lg: -8,
                xl: -10,
                2xl: -12,
            ),
        ),
    /* series */ series:
        (
            bg: (
                50: #ffffff,
                100: #f8f8fc,
                200: #efeff4,
                300: #e8e8ec,
                400: #dfdfe4,
                500: #28282a,
                600: #202022,
                700: #141416,
                800: #08080a,
                900: #000000,
            ),
            font: (
                50: #fdfdfd,
                100: #e7e7e7,
                200: #d1d1d1,
                300: #bbbbbb,
                400: #a4a4a4,
                500: #626262,
                600: #4a4a4a,
                700: #323232,
                800: #1a1a1a,
                900: #020202,
            ),
            none: (
                50: #e2e2e2,
                100: #d2d2d2,
                200: #c2c2c2,
                300: #b2b2b2,
                400: #a2a2a2,
                500: #929292,
                600: #828282,
                700: #727272,
                800: #626262,
                900: #525252,
            ),
            primary: (
                50: #61acd1,
                100: #4da1cb,
                200: #3997c6,
                300: #3488b2,
                400: #2e799e,
                500: #286a8a,
                600: #225b77,
                700: #1d4b63,
                800: #173c4f,
                900: #112d3b,
            ),
            secondary: (
                50: #61d1d1,
                100: #4dcbcb,
                200: #39c6c6,
                300: #34b2b2,
                400: #2e9e9e,
                500: #288a8a,
                600: #227777,
                700: #1d6363,
                800: #174f4f,
                900: #113b3b,
            ),
            tertiary: (
                50: #66cccc,
                100: #53c6c6,
                200: #40bfbf,
                300: #39acac,
                400: #339999,
                500: #2d8686,
                600: #267373,
                700: #206060,
                800: #1a4d4d,
                900: #133939,
            ),
            accent: (
                50: #7766cc,
                100: #6653c6,
                200: #5540bf,
                300: #4d39ac,
                400: #443399,
                500: #3c2d86,
                600: #332673,
                700: #2b2060,
                800: #221a4d,
                900: #1a1339,
            ),
            info: (
                50: #5c99d6,
                100: #478cd1,
                200: #3380cc,
                300: #2e73b8,
                400: #2966a3,
                500: #24598f,
                600: #1f4d7a,
                700: #1a4066,
                800: #143352,
                900: #0f263d,
            ),
            success: (
                50: #61d186,
                100: #4dcb77,
                200: #39c668,
                300: #34b25e,
                400: #2e9e53,
                500: #288a49,
                600: #22773e,
                700: #1d6334,
                800: #174f2a,
                900: #113b1f,
            ),
            warning: (
                50: #dbc557,
                100: #d7be42,
                200: #d2b72d,
                300: #bda428,
                400: #a89224,
                500: #93801f,
                600: #7e6e1b,
                700: #695b16,
                800: #544912,
                900: #3f370d,
            ),
            danger: (
                50: #db576d,
                100: #d7425b,
                200: #d22d48,
                300: #bd2841,
                400: #a8243a,
                500: #931f33,
                600: #7e1b2b,
                700: #691624,
                800: #54121d,
                900: #3f0d16,
            ),
        ),
    font-families: (
        main: (
            /* 'Arvo', */ 'Fira Code',
            serif,
        ),
        number: (
            'Roboto Mono',
            monospace,
        ),
    )
);
