/* app theme */
$app-theme: (
    /* lines height */
    lines: (
        none: 1,
        xs: 1.125,
        sm: 1.25,
        md: 1.375,
        lg: 1.5,
        xl: 1.625,
        2xl: 1.75,
    ),
    /* weights */
    weights: (
        none: lighter,
        xs: 100,
        sm: 300,
        md: 400,
        lg: 500,
        xl: 700,
        2xl: bolder,
    ),
    /* sizes */
    sizes: (
        text: (
            none: 0,
            xs: 12,
            sm: 14,
            md: 16,
            lg: 18,
            xl: 20,
            2xl: 22,
        ),
        border: (
            none: 0,
            xs: 0.0625,
            sm: 0.125,
            md: 0.1875,
            lg: 0.25,
            xl: 0.3125,
            2xl: 0.375,
        ),
        rounded: (
            none: 0,
            xs: 0.25,
            sm: 0.5,
            md: 0.75,
            lg: 1,
            xl: 1.25,
            2xl: 1.5,
        ),
        split: (
            none: 0,
            xs: 0.125,
            sm: 0.25,
            md: 0.5,
            lg: 0.75,
            xl: 1,
            2xl: 1.25,
        ),
        font: (
            none: 0,
            xs: 0.75,
            sm: 0.875,
            md: 1,
            lg: 1.125,
            xl: 1.25,
            2xl: 1.5,
        ),
        element: (
            none: 0,
            xs: 1.75,
            sm: 2.5,
            md: 3.25,
            lg: 4,
            xl: 4.75,
            2xl: 5.5,
        ),
        space: (
            none: 0,
            xs: 0.5,
            sm: 0.75,
            md: 1,
            lg: 1.5,
            xl: 2,
            2xl: 2.5,
        ),
        component: (
            none: 0,
            xs: 8,
            sm: 12,
            md: 16,
            lg: 20,
            xl: 24,
            2xl: 28,
        ),
        view: (
            none: 0,
            xs: 40,
            sm: 44,
            md: 48,
            lg: 56,
            xl: 64,
            2xl: 72,
        ),
    ),
    /* shadows */
    shadows: (
        offset: (
            none: 0,
            xs: 4,
            sm: 8,
            md: 12,
            lg: 16,
            xl: 20,
            2xl: 24,
        ),
        blur: (
            none: 0,
            xs: 6,
            sm: 12,
            md: 18,
            lg: 24,
            xl: 30,
            2xl: 36,
        ),
        spread: (
            none: 0,
            xs: -2,
            sm: -4,
            md: -6,
            lg: -8,
            xl: -10,
            2xl: -12,
        )
    ),
    /* series */
    series: (
        bg: (
             50: #FFFFFF,
            100: #F8F8FC,
            200: #EFEFF4,
            300: #E8E8EC,
            400: #DFDFE4,
            500: #28282A,
            600: #202022,
            700: #141416,
            800: #08080A,
            900: #000000,
        ),
        font: (
             50: #FDFDFD,
            100: #E7E7E7,
            200: #D1D1D1,
            300: #BBBBBB,
            400: #A4A4A4,
            500: #626262,
            600: #4A4A4A,
            700: #323232,
            800: #1A1A1A,
            900: #020202,
        ),
        none: (
             50: #E2E2E2,
            100: #D2D2D2,
            200: #C2C2C2,
            300: #B2B2B2,
            400: #A2A2A2,
            500: #929292,
            600: #828282,
            700: #727272,
            800: #626262,
            900: #525252,
        ),
        primary: (
             50: #61ACD1,
            100: #4DA1CB,
            200: #3997C6,
            300: #3488B2,
            400: #2E799E,
            500: #286A8A,
            600: #225B77,
            700: #1D4B63,
            800: #173C4F,
            900: #112D3B,
        ),
        secondary: (
             50: #61D1D1,
            100: #4DCBCB,
            200: #39C6C6,
            300: #34B2B2,
            400: #2E9E9E,
            500: #288A8A,
            600: #227777,
            700: #1D6363,
            800: #174F4F,
            900: #113B3B,
        ),
        tertiary: (
             50: #66CCCC,
            100: #53C6C6,
            200: #40BFBF,
            300: #39ACAC,
            400: #339999,
            500: #2D8686,
            600: #267373,
            700: #206060,
            800: #1A4D4D,
            900: #133939,
        ),
        accent: (
             50: #7766CC,
            100: #6653C6,
            200: #5540BF,
            300: #4D39AC,
            400: #443399,
            500: #3C2D86,
            600: #332673,
            700: #2B2060,
            800: #221A4D,
            900: #1A1339,
        ),
        info: (
             50: #5C99D6,
            100: #478CD1,
            200: #3380CC,
            300: #2E73B8,
            400: #2966A3,
            500: #24598F,
            600: #1F4D7A,
            700: #1A4066,
            800: #143352,
            900: #0F263D,
        ),
        success: (
             50: #61D186,
            100: #4DCB77,
            200: #39C668,
            300: #34B25E,
            400: #2E9E53,
            500: #288A49,
            600: #22773E,
            700: #1D6334,
            800: #174F2A,
            900: #113B1F,
        ),
        warning: (
             50: #DBC557,
            100: #D7BE42,
            200: #D2B72D,
            300: #BDA428,
            400: #A89224,
            500: #93801F,
            600: #7E6E1B,
            700: #695B16,
            800: #544912,
            900: #3F370D,
        ),
        danger: (
             50: #DB576D,
            100: #D7425B,
            200: #D22D48,
            300: #BD2841,
            400: #A8243A,
            500: #931F33,
            600: #7E1B2B,
            700: #691624,
            800: #54121D,
            900: #3F0D16,
        ),
    ),
    font-families: (
        main: (
            'Roboto',
            sans-serif,
        ),
        number:(
            'Roboto Mono',
            monospace,
        ),
    ),
);
