/* clients theme */
$clients-theme: (
    /* series */ series:
        (
            primary: (
                50: #e8d0c2,
                100: #ecba9c,
                200: #f0a376,
                300: #f8813b,
                400: #ff5f00,
                500: #d75708,
                600: #af4e0f,
                700: #874616,
                800: #73421a,
                900: #5f3d1d,
            ),
            secondary: (
                50: #c5d6e7,
                100: #a7c0db,
                200: #89aace,
                300: #6b94c1,
                400: #4c7db4,
                500: #416a98,
                600: #35567c,
                700: #2c4867,
                800: #21364d,
                900: #1d2f44,
            ),
        )
);
