/* clients theme */
$clients-theme: (
    /* series */ series:
        (
            primary: (
                50: #e8d0c2,
                100: #ecba9c,
                200: #f0a376,
                300: #f8813b,
                400: #ff5f00,
                500: #d75708,
                600: #af4e0f,
                700: #874616,
                800: #73421a,
                900: #5f3d1d,
            ),
            secondary: (
                50: #f4a35a,
                100: #f39a4a,
                200: #f28d33,
                300: #f17c15,
                400: #ef7102,
                500: #d26302,
                600: #b45502,
                700: #9e4b02,
                800: #8b4202,
                900: #783901,
            ),
        )
);
