@import 'styles';

.Filter {
    @include flex;
    @include gap(all xs);

    & > legend {
        @include font-weight(lg);
    }

    .Content {
        @include gap(all md);
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, size(2xl, component)), 1fr));

        & > div {
            @include gap(all md);
            align-items: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        & > div:last-child {
            @include max-width(md, component);
            grid-column-end: -1;
            justify-self: end;
            width: 100%;
        }
    }
}
