@import 'styles';

.CommerceSideMenu {
    @include gap(all xs);
    @include padding(y xs);

    & > a,
    & > span {
        @include margin(x xs);
    }

    & > span {
        @include font-size(lg);
        @include font-weight(lg);
        @include margin(top md);
    }

    .MenuLink {
        @include flex(row, center);
        @include font-weight(lg);
        @include gap(all sm);
        @include interactable;
        @include rounded(all sm);
        @include shadow(all xs inset);
        @include shadow-color(all 100 secondary);
        overflow: hidden;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &Active {
            @include disabled;
            transform: scale(1.05);
        }

        &Active,
        &:hover {
            @include shadow(left xl inset);
            @include shadow-color(all 500 secondary);
        }

        & > i,
        & > img {
            @include shadow(all 2xl inset);
            @include shadow-color(all 500 secondary);
            @include height(lg, element);
            @include width(lg, element);
            object-fit: cover;
        }

        & > i > svg {
            @include font-color(500, secondary);
            height: 75%;
            width: 75%;
        }
    }

    .MenuList {
        @include flex;
        @include gap(all sm);
        @include padding(all xs);
    }
}
