@import 'styles';

.CommerceList {
    @include gap(all sm);

    .List {
        @include flex;
        @include padding(all xs);

        & > ul {
            @include gap(all sm);
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(100%, size(2xl, component)), 1fr));

            @include screen-width(3xs) {
                grid-template-columns: repeat(auto-fit, size(2xl, component));
                justify-content: center;
            }

            @include screen-width(2xs) {
                @include gap(all md);
            }

            @include screen-width(2xl) {
                @include gap(x lg);
            }

            & > li {
                @include flex;
                @include bg-color(300);
                @include interactable;
                @include rounded(all sm);
                cursor: pointer;
                list-style: none;
                overflow: hidden;
            }
        }
    }
}
