@import 'styles';

.Settings {
    @include gap(all md);

    h1 {
        @include font-size(xl);
        @include font-weight(2xl);
    }

    .Section {
        @include flex;
        @include gap(all sm);

        .Title {
            @include flex(row, center, space-between);
            @include gap(all xs);
            @include padding(x xs);

            h2 {
                @include font-size(lg);
                @include font-weight(xl);
                overflow: hidden;
            }
        }
    }

    .Branding {
        @include flex(row);
        position: relative;

        & > img:first-of-type {
            @include margin(x xs split);
            @include rounded(all xs);
            @include shadow(all xs);
            aspect-ratio: 2 / 1;
            object-fit: cover;
            overflow: hidden;

            @include screen-width(xs) {
                aspect-ratio: 3 / 1;
            }
        }

        & > img:last-of-type {
            @include border-color(all 200 bg);
            @include border-width(all sm);
            @include height(xs, component);
            @include rounded(all xs component);
            @include shadow(all xs);
            @include width(xs, component);
            bottom: 0;
            left: 50%;
            object-fit: cover;
            overflow: hidden;
            position: absolute;
            transform: translateX(-50%) translateY(50%);

            @include screen-width(xs) {
                @include height(sm, component);
                @include width(sm, component);
            }
        }
    }
}
