@import 'styles';

.FilePreview {
    @include bg-color(400);
    @include flex(row, center, center);
    @include rounded(all xs);
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    & > i {
        @include margin(all xs);
        aspect-ratio: 1;
        height: 100%;
        width: 100%;

        & > svg {
            height: 100%;
            width: 100%;
        }
    }

    .Preview {
        @include disabled;
        flex-grow: 1;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}
