@import 'styles';

.Dashboard {
    display: none;

    @include screen-width(2xl) {
        @include flex(row);
    }

    .Wrapper {
        @include gap(all md);
    }

    .Content {
        @include max-width(2xl, view);
        @include padding(x md);
        margin: 0 auto;
        width: 100%;
    }
}
