@import 'styles';

.Migrater {
    @include gap(all sm);

    .Header {
        @include gap(all xs split);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > button {
            @include bg-color(400);
            @include border-color(all 400 bg);
            @include border-opacity(bottom 0);
            @include border-width(all sm);
            @include font-weight(sm);
            @include padding(all xs);
            @include rounded(top sm);
            cursor: pointer;
            overflow: hidden;
        }

        .TitleActive {
            @include bg-color(200);
            @include disabled;
            @include font-weight(lg);
            @include rounded(top sm);
        }
    }

    & > form {
        @include flex;
        @include gap(all sm);
        flex-grow: 1;
        overflow: hidden;
    }

    .Content {
        @include gap(all sm);
        @include padding(y xs, right xs);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .Actions {
        @include gap(all sm);
        @include padding(x xs);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > button {
            @include flex(row, center);
            @include gap(all xs);
            overflow: hidden;

            & > span {
                flex-grow: 1;
            }
        }
    }
}

.Checkbox {
    @include bg-color(400);
    @include bg-opacity(60);
    @include padding(all xs);
    @include rounded(top sm);
    align-items: center;
    flex-direction: row;
    grid-column: span 3;

    & > label {
        overflow: visible;

        & > img {
            @include height(sm, element);
            @include margin(x sm);
            @include rounded(all sm);
            @include width(sm, element);
            object-fit: cover;
            overflow: hidden;
        }
    }

    & > span {
        @include font-weight(lg);
    }
}

.SimpleCheckbox {
    align-items: center;
    flex-direction: row;
    grid-column: span 3;

    /* @include screen-width(4xs) {
        grid-column: span 2;
    } */

    & > label {
        overflow: visible;
        visibility: hidden;
    }
}

.Price {
    display: none;
    grid-column: span 2;

    @include screen-width(4xs) {
        grid-column: span 1;
    }

    & > label {
        @include font-weight(xl);
        @include gap(all xs);

        & > input {
            text-align: right;
        }
    }
}

.Confirmation {
    @include bg-color(200);
    @include padding(all xs);
    @include rounded(all xs);
    @include width(2xl, component);
    max-width: 100%;

    & > section {
        @include flex;
        @include gap(all md);
    }

    .ConfirmationHeader {
        @include flex(row, center, center);
        @include font-weight(lg);
        @include gap(all xs);
    }

    .ConfirmationContent {
        @include flex;
        @include gap(all md);
        @include padding(x xs split);

        & > span {
            @include font-size(2xl);
        }
    }

    .ConfirmationActions {
        @include gap(all md);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > button {
            @include flex(row, center);
            @include gap(all xs);
            overflow: hidden;

            & > span {
                flex-grow: 1;
            }
        }
    }
}

.Commerce {
    @include gap(all sm);

    .CommerceHeader {
        @include flex;
        @include gap(all xs);
        @include max-width(xl, component);
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        & > h3 {
            @include font-weight(lg);
        }
    }

    & > span {
        @include font-weight(lg);
        margin-bottom: auto;
        margin-top: auto;
    }

    & > form {
        @include flex;
        @include gap(all sm);
        flex-grow: 1;
        overflow: hidden;
    }
}

.NoCommerces {
    @include flex(col, center, center);
    @include gap(all xl);
    flex-grow: 1;
    overflow: hidden;

    & > span {
        @include font-size(lg);
        @include font-weight(lg);
    }

    & > img {
        @include max-width(xl, component);
        object-fit: contain;
        overflow: hidden;
        width: 100%;
    }
}
