@import 'styles';

.CreateUser {
    @include padding(all xs split);
    @include width(xl, component);
    max-width: 100%;

    & > form {
        @include flex;
        @include gap(all md);

        & > legend {
            @include font-size(xl);
            @include font-weight(lg);
        }

        & > fieldset > label {
            & > button,
            & > i {
                @include font-size(xl);
                @include interactable;
                @include padding(x xs);
            }
        }

        & > div {
            @include gap(all md);
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            & > button {
                overflow: hidden;
            }
        }
    }
}
