@import 'styles';

.MainTitle {
    @include bg-color(200);
    @include gap(all sm);
    @include padding(all xs);
    @include rounded(all xs);
    @include width(2xl, component);
    max-width: 100%;

    .Header {
        @include flex(row, center, center);
        @include font-weight(lg);
        @include gap(all xs);
    }

    .Content {
        @include gap(all sm);
        @include padding(all xs split);

        .Title {
            @include font-weight(lg);
        }

        .Boolean {
            @include flex(row, center);
            @include gap(all xs);
        }

        .Icon {
            @include font-color(100);
            @include font-size(xl);
            @include padding(all xs split);
            @include rounded(all md);

            &Active {
                @include bg-color(400, success);
            }

            &Inactive {
                @include bg-color(400, danger);
            }
        }

        .List {
            @include flex;
            @include gap(all xs split);
            @include margin(bottom xs);

            & > li {
                @include padding(x xs, y xs split);
                @include shadow(bottom xs);
            }
        }
    }

    .Actions {
        @include gap(all md);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > button {
            overflow: hidden;
        }
    }
}
