@import 'styles';

.ConfigureProduct {
    @include bg-color(300);
    @include gap(all sm);
    @include rounded(all sm);
    @include width(xs, view);
    max-width: 100%;

    .Header {
        @include bg-color(400, primary);
        @include flex(row, center);
        @include font-color(100);
        @include font-size(lg);
        @include font-weight(lg);
        @include gap(all xs);
        @include padding(all xs);

        & > h4 {
            overflow: hidden;
            flex-grow: 1;
        }

        & > button {
            @include bg-color(400, secondary);
            @include font-size(2xl);
            @include interactable;
            @include padding(all xs split);
            @include rounded(all md);
            @include bg-opacity(20);

            &:hover {
                @include bg-opacity(40);
            }

            &:active {
                @include bg-opacity(60);
            }
        }
    }

    .Content {
        @include flex;
        @include gap(all sm);
        @include min-height(lg, element);
        @include padding(all xs);

        @include screen-width(xs) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        & > fieldset {
            overflow: visible;

            &:has(textarea) {
                @include screen-width(xs) {
                    grid-column: span 2;
                }
            }
        }

        .Title {
            @include border-width(bottom sm);
            border-style: dashed;

            @include screen-width(xs) {
                grid-column: span 2;
            }

            & > label {
                display: none;
            }

            & > span {
                @include font-size(lg);
                @include font-weight(lg);
            }

            &:nth-child(n + 2) {
                @include margin(top sm);
            }
        }

        .Single,
        .Multiple,
        .Combo {
            @include flex(row, center);
            @include gap(all sm);

            & > label {
                overflow: visible;
            }
        }

        .Combo {
            & > label {
                @include gap(all xs);
                display: grid;
                grid-template-columns: 1fr size(sm, element) 1fr;

                & > input {
                    @include disabled;
                    text-align: center;
                    width: auto;
                }
            }
        }
    }

    .Actions {
        @include flex;
        @include gap(all sm);
        @include padding(all xs);

        & > div {
            @include flex;
            @include gap(all sm);

            @include screen-width(4xs) {
                @include flex(row, start, center);
                @include gap(all md);

                & > fieldset {
                    @include min-width(sm, component);
                }
            }

            @include screen-width(xs) {
                @include gap(all xl);
            }

            & > span {
                @include font-size(lg);
                @include font-weight(lg);
            }
        }

        & > button {
            @include flex(row, center);
            @include gap(all xs);

            & > span {
                flex-grow: 1;
            }
        }

        @include screen-width(xs) {
            @include flex(row);
            @include gap(all md);

            & > div {
                flex-grow: 1;
            }
        }
    }
}
