@import 'styles';

.CommerceInfo {
    @include flex;
    @include gap(all md);

    & > section {
        @include flex;
        @include gap(all sm);
    }

    .Title {
        @include font-weight(lg);
        font-style: italic;
    }

    .Header {
        @include bg-color(400, primary);
        @include font-color(50);
        @include padding(all xs);
        @include rounded(all sm);
        position: sticky;
        top: 0;
        z-index: 3;

        & > h2,
        & > h3 {
            @include font-weight(lg);
        }

        & > h2 {
            @include font-size(xl);
        }

        & > h3 {
            @include font-size(lg);
        }
    }

    .Content {
        @include flex;
        @include gap(all sm);
        @include max-width(lg, view);
        @include padding(all xs);
        margin: 0 auto;
        width: 100%;

        @include screen-width(lg) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include screen-width(xl) {
            @include gap(all md);
        }

        & > div {
            @include bg-color(300);
            @include flex;
            @include gap(all sm);
            @include padding(all sm);
            @include rounded(all sm);
        }
    }

    .Group {
        @include flex;
        @include gap(all sm);

        & > span:not(:first-of-type) {
            @include margin(x sm);
        }
    }

    .Map {
        aspect-ratio: 1;

        @include screen-width(6xs) {
            aspect-ratio: 2 / 1;
        }

        @include screen-width(md) {
            aspect-ratio: 3 / 1;
        }

        @include screen-width(lg) {
            grid-column: span 2;
        }
    }

    .MapArea {
        @include fill-color(400, secondary);
        @include stroke-color(400, secondary);
    }

    .Marker {
        @include font-color(400, primary);
    }

    .CurrentPosition {
        @include font-color(900);
        animation: CurrentPosition 3s infinite;
    }

    .MapLine {
        @include font-opacity(60);
        @include stroke-color(400, secondary);
    }

    .OrderOnline {
        @include flex(row, center, space-between);
        @include gap(all xs);

        & > span {
            flex-grow: 1;
        }

        & > i {
            @include font-size(2xl);

            &.Online {
                @include font-color(400, success);
            }

            &.Offline {
                @include font-color(400, danger);
            }
        }
    }

    .Accordion {
        @include gap(all sm);

        & > div > div > table {
            & > thead,
            & > tbody {
                & > tr {
                    & > th,
                    & > td {
                        & > span {
                            flex-grow: 1;
                        }
                    }
                }
            }
        }

        @include screen-width(lg) {
            align-self: start;
        }

        &Content {
            @include gap(all sm);
        }
    }

    .AccordionControl {
        @include bg-color(400);
        @include font-size(2xl);
        @include interactable;
        @include padding(all xs);
        @include rounded(all xl);
    }
}

@keyframes CurrentPosition {
    0% {
        @include font-opacity(0);
    }
    75% {
        @include font-opacity(100);
    }
}
