@import 'styles';

.Collection {
    @include flex;
    @include gap(all md);
    flex-grow: 1;

    .Content {
        @include flex;
        @include gap(all md);
        @include margin(x xs, bottom xs);
        flex-grow: 1;

        @include screen-width(sm) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include screen-width(md) {
            @include gap(x lg);
        }

        @include screen-width(xl) {
            @include gap(x xl);
        }

        & > div > h2 {
            @include font-weight(xl);
            @include margin(bottom xs);
        }

        .Fields {
            @include flex;
            @include gap(all xs);
            overflow: hidden;
        }
    }

    .TitleCollection {
        @include flex(row, center);
        @include gap(all xs);
        @include margin(top sm, bottom md);
        flex-wrap: wrap;

        & > span {
            @include bg-color(500, primary);
            @include font-color(100);
        }
    }

    .Actions {
        @include flex(row, center, flex-end);
        @include gap(all xs);
        @include margin(all sm);

        @include screen-width(sm) {
            grid-column: span 2;
        }

        & > button {
            overflow: hidden;
            width: 100%;

            @include screen-width(2xs) {
                @include max-width(md, component);
            }
        }
    }
}

.CheckboxInverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.TitleProps {
    & > label {
        display: none;
    }

    & > span {
        @include font-weight(lg);
    }
}
