@import 'styles';

.Settings {
    @include flex;
    @include gap(all md);
    @include padding(x xs split);

    .Title {
        @include font-weight(lg);
    }

    .Flags {
        @include flex(row, center);
        @include gap(all xs);
    }

    .Flag {
        @include opacity(20);
        @include rounded(all xs);
        @include shadow(all xs);
        @include width(xs, element);
        aspect-ratio: 5 / 4;
        object-fit: cover;
        overflow: hidden;

        &.Default {
            @include opacity(100);
        }
    }

    .Customers {
        @include padding(x xs);
        @include gap(all xs);
    }

    .Link {
        @include flex(row, center, center);
        @include gap(all xs);

        & > a {
            flex-grow: 0;
            overflow: hidden;
        }
    }

    .Generator {
        @include bg-color(400);
        @include flex(row, center, space-between);
        @include gap(all sm);
        @include interactable(0.125s, 1.005, 0.995, 0.995);
        @include padding(x xs split);
        @include rounded(all xs);

        & > i {
            @include font-size(2xl);
        }
    }
}
